#mm-keyboard {
  margin-top: 1.5em;
}

.mm-kbrow {
  height: 1.8em;
}

.mm-kbletter {
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  position: relative;
}

.mm-kbletterinside {
  position: absolute;
  top: 0.31em;
  left: 0.44em;
}

.mm-kbrow:first-child .mm-kbletter {
  border-top: 1px solid black;
}

.mm-kbletter:first-child {
  border-left: 1px solid black;
}